---
import componentStyles from "./SearchBox.module.scss";
---

<form class={componentStyles.searchBox} data-searchbox-form action="/search/">
  <div class={componentStyles.inputWrap}>
    <img src="/search.svg" alt="Search" class={componentStyles.icon} />
    <input
      id="searchInput"
      type="text"
      class={componentStyles.input}
      placeholder={" " /* "" にすると webkit でうまく動作しない */}
    />
    <div class={componentStyles.suggestions}>
      <div class={componentStyles.container}>
        <p class={componentStyles.item}>確率論</p>
        <p class={componentStyles.item}>微分積分</p>
        <p class={componentStyles.item}>線形代数</p>
        <p class={componentStyles.item}>統計学</p>
        <p class={componentStyles.item}>数学概論</p>
        <p class={componentStyles.item}>確率論</p>
      </div>
      <div class={componentStyles.hint}>
        <p>/ キーでフォーカス</p>
      </div>
    </div>
  </div>
</form>

<script>
  if (window.location.pathname.toString().startsWith("/search/")) {
    const searchInput = document.getElementById(
      "searchInput",
    ) as HTMLInputElement;
    const searchKeywords = decodeURIComponent(
      window.location.pathname
        .toString()
        .replace("/search/", "")
        .replace("/", ""),
    );
    searchInput.value = searchKeywords;
    document.title = searchKeywords;
  }

  const searchBoxForm = document.querySelector(
    "[data-searchbox-form]",
  ) as HTMLFormElement;
  const searchInput = document.getElementById(
    "searchInput",
  ) as HTMLInputElement;
  searchBoxForm.addEventListener("submit", (e) => {
    e.preventDefault();
    location.href = `/search/${encodeURIComponent(searchInput.value)}`;
  });

  window.document.addEventListener("keydown", (e) => {
    if (e.key === "/" && document.activeElement !== searchInput) {
      e.preventDefault();
      searchInput.focus();
    }
  });
</script>
