---
import componentStyles from "./SideMenu.module.scss";
const menu = [
  {
    title: "BRIDGEとは",
    link: "/about/",
    newTab: false,
  },
  {
    title: "お問い合わせ",
    link: "/inquiry/",
    newTab: false,
  },
  {
    title: "アンケートへ",
    link: "/form",
    newTab: true,
  },
];
---

<>
  <nav class={componentStyles.menu}>
    <ul class={componentStyles.items}>
      {
        menu.map((item) => (
          <li class={componentStyles.item}>
            <a href={item.link} class={componentStyles.link} target={item.newTab ? "_blank" : "_self"}>
              <svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class={componentStyles.icon}
              >
                <path
                  d="M18 11L-9.78799e-07 21.3923L-7.02746e-08 0.607695L18 11Z"
                  fill="currentColor"
                />
              </svg>
              <span class={componentStyles.title}>{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <footer class={componentStyles.footer}>
    <p class={componentStyles.copyright}>
      (C) 2024 <a
        class={componentStyles.title}
        href="https://www.zdk.tsukuba.ac.jp">全代会</a
      >.
    </p>
  </footer>
</>
