---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import SearchBox from "../../components/SearchBox.astro";
import SideMenu from "../../components/SideMenu.astro";
import pageStyles from "./404.module.scss";
---

<Layout title="brige">
  <Header isMain={false}>
    <SearchBox defaultInput={""} styleAttr="margin: 40px 0 20px;" />
  </Header>
  <main class={pageStyles.main}>
    <div class={pageStyles.body}>
      <h1 class={pageStyles.title}>検索結果</h1>
      <p>結果が見つかりませんでした</p>
    </div>
    <div class={pageStyles.sidebar}>
      <SideMenu />
    </div>
  </main>
</Layout>
