---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import SearchBox from "../../components/SearchBox.astro";
import SideMenu from "../../components/SideMenu.astro";
import ClassList from "../../components/ClassList.astro";
import { summaryData } from "../../content/summary";
import { kdbData } from "../../content/kdb-schema";
import pageStyles from "./page.module.scss";

export function getStaticPaths() {
    let subjectAllPattern: {
        params: {
            id: string;
        };
    }[] = [];
    [...Object.keys(summaryData)].map((subject) => {
        for (let i = 0; i < subject.length; i++) {
            for (let j = i + 1; j <= subject.length; j++) {
                subjectAllPattern.push({
                    params: {
                        id: subject.slice(i, j),
                    },
                });
            }
        }
    });
    return subjectAllPattern;
}

const { id: subjectName } = Astro.params;

// summaryData から インデックスに subjectName が含まれるデータを取得
const subjects = Object.entries(summaryData).filter(([key, value]) =>
    key.includes(subjectName)
);

const getKdbByName = (subject: string) => {
    return kdbData.subject.filter((v) => v.name === subject);
};

interface classList {
    title: string;
    colleges: string[];
    slug: string;
    teachers: {
        name: string;
        image?: string;
    }[];
    rating: number;
    reviewCount: number;
}
const results: classList[] = subjects.map(([subjectId, subject]) => {
    const kdbs = getKdbByName(subjectId);
    const kdbTeachers = [...new Set(
        kdbs
            .flatMap((kdb) => kdb.instructor.split(","))
            .map((teacher) => teacher.trim())
            .filter((teacher) => teacher)
    )];
    return {
        title: subjectId,
        colleges: [],
        slug: subjectId,
        teachers: kdbTeachers.map((teacher) => ({ name: teacher })),
        rating: subject.recommendation_level_of_this_class,
        reviewCount: subject.comment.length,
    };
});
---

<Layout title="検索結果">
    <Header isMain={false}>
        <SearchBox defaultInput={subjectName} styleAttr="margin: 40px 0 20px;" />
    </Header>
    <main class={pageStyles.main}>
        <div class={pageStyles.body}>
            <h1 class={pageStyles.title}>{subjectName} の検索結果</h1>
            <div class={pageStyles.list}>
                <ClassList classProps={results} />
            </div>
        </div>
        <div class={pageStyles.sidebar}>
            <SideMenu />
        </div>
    </main>
</Layout>
