---
import Layout from "../../layouts/Layout.astro";
import ClassList from "../../components/ClassList.astro";
import { subjectMap } from "../../content/subjectsData2025";
import pageStyles from "./page.module.scss";

export function getStaticPaths() {
  let subjectAllPattern: {
    params: {
      id: string;
    };
  }[] = [];
  [...subjectMap.keys()].map((subject) => {
    for (let i = 0; i < subject.length; i++) {
      for (let j = i + 1; j <= subject.length; j++) {
        subjectAllPattern.push({
          params: {
            id: subject.slice(i, j),
          },
        });
      }
    }
  });
  return subjectAllPattern;
}

const { id: subjectName } = Astro.params;

// summaryData から インデックスに subjectName が含まれるデータを取得
const subjects = [...subjectMap.keys()].filter((key) =>
  key.includes(subjectName),
);
---

<Layout title="検索結果">
  <div class={pageStyles.body}>
    <h1 class={pageStyles.title}>{subjectName} の検索結果</h1>
    <div class={pageStyles.list}>
      <ClassList subjects={subjects} />
    </div>
  </div>
</Layout>
