---
import "bulma/css/bulma.min.css";
import "./global.css";
import Header from "../components/Header.astro";
import SearchBox from "../components/SearchBox.astro";
interface Props {
  isMain?: boolean;
  title?: string;
  description?: string;
  og?: {
    type?: string;
    image?: string;
  };
  twitter?: {
    card?: string;
  };
}
const { isMain, title, description, og, twitter } = Astro.props;
const metadata = {
  title: title ? `${title} - BRIDGE` : "BRIDGE",
  description: description ?? "各学類等の学生達の目線で書かれた授業評価サイト",
  og: {
    type: og?.type ?? "website",
    image: og?.image ?? new URL("og.png", Astro.site),
    site_name: "BRIDGE",
  },
  twitter: {
    card: twitter?.card ?? "summary_large_image",
  },
};
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta property="og:type" content={metadata.og.type} />
    <meta property="og:image" content={metadata.og.image} />
    <meta property="og:site_name" content={metadata.og.site_name} />
    <meta name="twitter:card" content={metadata.twitter.card} />
    <script>
      console.log(
        "%cこの画面をご覧の方へ\n「BRIDGE」は全代会のIPCによって開発されました。\n一緒に大学を情報技術の力で便利にしていきませんか？ お待ちしております。\n%c興味のある方は https://www.stb.tsukuba.ac.jp/~zdk/recruit まで",
        "font-size: 2em;",
        "font-size: 1.5em;",
      );
    </script>
  </head>
  <body>
    <Header isMain={isMain ?? false}>
      <SearchBox />
    </Header>
    <slot />
  </body>
</html>
