---
import Layout from "../../layouts/Layout.astro";
import { subjectMap } from "../../content/subjectsData2025";
import { subjectsData } from "../../content/subjectsSchema";
import LabelPercent from "../../components/LabelPercent.astro";
import pageStyles from "./page.module.scss";
import Stars from "../../components/Stars.ClassList.astro";
import ClassListItem from "../../components/ClassListItem.astro";
import { similarSubjectsMap } from "../../content/similarSubjects";

export function getStaticPaths() {
  return [...subjectMap.keys()].map((subject) => ({
    params: {
      id: `${subject}`,
    },
  }));
}

const { id: subjectName } = Astro.params;

const subject = subjectMap.get(subjectName);
if (subject == undefined) {
  throw new Error("unknown subject name " + subjectName);
}

const kdbs = subjectsData.filter((v) => v.name === subject.name);

function syllabiUrl(number: string) {
  return `https://kdb.tsukuba.ac.jp/syllabi/2024/${number}/jpn`;
}

const params =
  subject.type === "一般"
    ? {
        // 一般
        credit_earnability:
          subject.subject.credit_earnability.sum /
          subject.subject.credit_earnability.count,
        class_preparation_workload:
          subject.subject.class_preparation_workload.sum /
          subject.subject.class_preparation_workload.count,
        class_difficulty_level:
          subject.subject.class_difficulty_level.sum /
          subject.subject.class_difficulty_level.count,
        recommendation_level_of_this_class:
          subject.subject.recommendation_level_of_this_class.sum /
          subject.subject.recommendation_level_of_this_class.count,
        are_materials_distributed_in_class: {
          data: subject.subject.are_materials_distributed_in_class,
        },
        is_textbook_used_in_class: {
          data: subject.subject.is_textbook_used_in_class,
        },
        prerequisite_knowledge_for_this_class:
          subject.subject.prerequisite_knowledge_for_this_class,
        class_format: subject.subject.class_format,
        mode_class_format: subject.subject.mode_class_format,
        proportion_of_experienced_students: null,
        consideration_for_inexperienced_students: null,
        exercise_intensity: null,
        male_to_female_ratio: null,
        required_purchases: null,
        rain: null,
        final: null,
        weekly_assignments: null,
        overtime_assignments: null,
        activity: null,
      }
    : {
        // 体育
        credit_earnability:
          subject.subject.credit_earnability.sum /
          subject.subject.credit_earnability.count,
        class_preparation_workload: null,
        class_difficulty_level: null,
        recommendation_level_of_this_class:
          subject.subject.recommendation_level_of_this_class.sum /
          subject.subject.recommendation_level_of_this_class.count,
        are_materials_distributed_in_class: null,
        is_textbook_used_in_class: null,
        prerequisite_knowledge_for_this_class: null,
        class_format: null,
        mode_class_format: null,
        proportion_of_experienced_students:
          subject.subject.proportion_of_experienced_students.sum /
          subject.subject.proportion_of_experienced_students.count,
        consideration_for_inexperienced_students:
          subject.subject.consideration_for_inexperienced_students.sum /
          subject.subject.consideration_for_inexperienced_students.count,
        exercise_intensity:
          subject.subject.exercise_intensity.sum /
          subject.subject.exercise_intensity.count,
        male_to_female_ratio:
          subject.subject.male_to_female_ratio.sum /
          subject.subject.male_to_female_ratio.count,
        required_purchases: {
          data: subject.subject.required_purchases,
          detail: subject.subject.required_purchases.detail,
        },
        rain: {
          data: subject.subject.rain,
          detail: subject.subject.rain.detail,
        },
        final: {
          data: subject.subject.final,
          detail: subject.subject.final.detail,
        },
        weekly_assignments: {
          data: subject.subject.weekly_assignments,
          detail: subject.subject.weekly_assignments.detail,
        },
        overtime_assignments: {
          data: subject.subject.overtime_assignments,
          detail: subject.subject.overtime_assignments.detail,
        },
        activity: subject.subject.activity,
      };

// 似た評価の講義を取得
const similarSubjects = similarSubjectsMap.get(subjectName) || [];
---

<Layout title={subjectName}>
  <div class={pageStyles.body}>
    <h1 class={pageStyles.title}>{subject.name}</h1>
    {
      [...new Set(kdbs.map((v) => v.affiliation.name))].map(
        (v) => v && <span class={pageStyles.category}>{v}</span>,
      )
    }
    {
      params.class_format && (
        <>
          <div class={pageStyles.tagWrap}>
            <div class={pageStyles.tag}>授業形態</div>
            {kdbs.length > 1 && (
              <p class={pageStyles.description}>※ 全ての科目の平均値</p>
            )}
          </div>
          <div class={pageStyles.card}>
            <LabelPercent
              labels={{
                講義: "講義",
                グループワーク: "グループワーク",
                発表: "発表",
              }}
              n={subject.subject.num}
              data={{
                講義: params.class_format.講義,
                グループワーク: params.class_format.グループワーク,
                発表: params.class_format.発表,
              }}
            />
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>その他</div>
              <div class={pageStyles.content}>
                {params.class_format.other.map((val) => (
                  <li class={pageStyles.detail}>{val}</li>
                ))}
              </div>
            </div>
          </div>
        </>
      )
    }
    {
      params.mode_class_format && (
        <>
          <div class={pageStyles.tagWrap}>
            <div class={pageStyles.tag}>最も多い授業形態</div>
            {kdbs.length > 1 && (
              <p class={pageStyles.description}>※ 全ての科目の平均値</p>
            )}
          </div>
          <div class={pageStyles.card}>
            <LabelPercent
              labels={{
                講義: "講義",
                グループワーク: "グループワーク",
                発表: "発表",
              }}
              n={subject.subject.num}
              data={{
                講義: params.class_format.講義,
                グループワーク: params.class_format.グループワーク,
                発表: params.class_format.発表,
              }}
            />
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>その他</div>
              <div class={pageStyles.content}>
                {params.class_format.other.map((val) => (
                  <li class={pageStyles.detail}>{val}</li>
                ))}
              </div>
            </div>
          </div>
        </>
      )
    }

    <div class={pageStyles.tagWrap}>
      <div class={pageStyles.tag}>評価</div>
      {
        kdbs.length > 1 && (
          <p class={pageStyles.description}>※ 全ての科目の平均値</p>
        )
      }
    </div>
    <div class={pageStyles.card}>
      <div class={pageStyles.lists}>
        {
          params.class_difficulty_level && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>授業の難易度</div>
              <div class={pageStyles.content}>
                {params.class_difficulty_level}
              </div>
            </div>
          )
        }
        <div class={pageStyles.item}>
          <div class={pageStyles.label}>単位の取りやすさ</div>
          <div class={pageStyles.content}>
            {params.credit_earnability}
          </div>
        </div>
        {
          params.class_preparation_workload && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>授業の準備量</div>
              <div class={pageStyles.content}>
                {params.class_preparation_workload}
              </div>
            </div>
          )
        }
        {
          params.is_textbook_used_in_class && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>教科書</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "使う",
                    False: "使わない",
                  }}
                  n={subject.subject.num}
                  data={params.is_textbook_used_in_class.data}
                />
              </div>
            </div>
          )
        }
        <div class={pageStyles.item}>
          <div class={pageStyles.label}>オススメ度</div>
          <div class={pageStyles.content}>
            {params.recommendation_level_of_this_class}
          </div>
        </div>
        {
          params.are_materials_distributed_in_class && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>配布資料</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "あり",
                    False: "なし",
                  }}
                  n={subject.subject.num}
                  data={params.are_materials_distributed_in_class.data}
                />
              </div>
            </div>
          )
        }
        {
          params.prerequisite_knowledge_for_this_class && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>予備知識</div>
              <div class={pageStyles.content}>
                {params.prerequisite_knowledge_for_this_class.map((val) => (
                  <li class={pageStyles.detail}>{val}</li>
                ))}
              </div>
            </div>
          )
        }
        {
          params.proportion_of_experienced_students && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>経験者の割合</div>
              <div class={pageStyles.content}>
                {params.proportion_of_experienced_students}
              </div>
            </div>
          )
        }
        {
          params.consideration_for_inexperienced_students && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>未経験者に対する配慮</div>
              <div class={pageStyles.content}>
                {params.consideration_for_inexperienced_students}
              </div>
            </div>
          )
        }
        {
          params.exercise_intensity && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>運動の強度</div>
              <div class={pageStyles.content}>{params.exercise_intensity}</div>
            </div>
          )
        }
        {
          params.male_to_female_ratio && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>男女比</div>
              <div
                class={pageStyles.content}
              >{`${params.male_to_female_ratio} : ${10 - params.male_to_female_ratio}`}</div>
            </div>
          )
        }
        {
          params.required_purchases && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>必要な購入物</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "あり",
                    False: "なし",
                  }}
                  n={subject.subject.num}
                  data={params.required_purchases.data}
                />
                <ul>
                  {params.required_purchases.detail.map((val) => (
                    <li class={pageStyles.detail}>{val}</li>
                  ))}
                  <li />
                </ul>
              </div>
            </div>
          )
        }
        {
          params.rain && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>雨天時の授業内容</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "晴天時と同一",
                    False: "晴天時と異なる",
                  }}
                  n={subject.subject.num}
                  data={params.rain.data}
                />
                <ul>
                  {params.rain.detail.map((val) => (
                    <li class={pageStyles.detail}>{val}</li>
                  ))}
                  <li />
                </ul>
              </div>
            </div>
          )
        }
        {
          params.final && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>期末課題</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "あり",
                    False: "なし",
                  }}
                  n={subject.subject.num}
                  data={params.final.data}
                />
                <ul>
                  {params.final.detail.map((val) => (
                    <li class={pageStyles.detail}>{val}</li>
                  ))}
                  <li />
                </ul>
              </div>
            </div>
          )
        }
        {
          params.weekly_assignments && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>毎週提出する課題</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "あり",
                    False: "なし",
                  }}
                  n={subject.subject.num}
                  data={params.weekly_assignments.data}
                />
                <ul>
                  {params.weekly_assignments.detail.map((val) => (
                    <li class={pageStyles.detail}>{val}</li>
                  ))}
                  <li />
                </ul>
              </div>
            </div>
          )
        }
        {
          params.overtime_assignments && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>課題や授業時間外の実習</div>
              <div class={pageStyles.content}>
                <LabelPercent
                  labels={{
                    True: "あり",
                    False: "なし",
                  }}
                  n={subject.subject.num}
                  data={params.overtime_assignments.data}
                />
                <ul>
                  {params.overtime_assignments.detail.map((val) => (
                    <li class={pageStyles.detail}>{val}</li>
                  ))}
                  <li />
                </ul>
              </div>
            </div>
          )
        }
        {
          params.activity && (
            <div class={pageStyles.item}>
              <div class={pageStyles.label}>実際の活動</div>
              <div class={pageStyles.content}>
                {params.activity.map((val) => (
                  <li class={pageStyles.detail}>{val}</li>
                ))}
              </div>
            </div>
          )
        }
        <div class={pageStyles.item}>
          <div class={pageStyles.label}>コメント</div>
          <div class:list={[pageStyles.content, pageStyles.comments]}>
            {
              subject.subject.comment.map((comment) => (
                <>
                  <div class={pageStyles.comment}>
                    <div class={pageStyles.commentHeader}>
                      <Stars num={comment.recommendation_level_of_this_class} />
                      <div>{comment.recommendation_level_of_this_class}</div>
                    </div>
                    {comment.comment}
                  </div>
                </>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    {
      kdbs.map((kdbSubject) => (
        <>
          <div class={pageStyles.tagWrap}>
            <div class={pageStyles.tag}>科目番号 {kdbSubject.code}</div>
            <a
              href={syllabiUrl(kdbSubject.code)}
              target="_blank"
              rel="noopener noreferrer external"
            >
              シラバス (外部)
              <div class={pageStyles.iconWrap}>
                <svg
                  width="45"
                  height="45"
                  viewBox="0 0 45 45"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class={pageStyles.icon}
                >
                  <path
                    d="M36.5 9C36.5 8.17157 35.8284 7.5 35 7.5H21.5C20.6716 7.5 20 8.17157 20 9C20 9.82843 20.6716 10.5 21.5 10.5H33.5V22.5C33.5 23.3284 34.1716 24 35 24C35.8284 24 36.5 23.3284 36.5 22.5V9ZM10.0607 36.0607L36.0607 10.0607L33.9393 7.93934L7.93934 33.9393L10.0607 36.0607Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div class={pageStyles.card}>
            <div class={pageStyles.lists}>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>授業形態</div>
                <div class={pageStyles.content}>
                  {kdbSubject.instructionalType.value?.text ?? ""}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>単位</div>
                <div class={pageStyles.content}>
                  {kdbSubject.credits.value === null ||
                  kdbSubject.credits.value.type === "unknown"
                    ? ""
                    : kdbSubject.credits.value.type === "none"
                      ? "-"
                      : kdbSubject.credits.value.value}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>標準履修年次</div>
                <div class={pageStyles.content}>
                  {kdbSubject.year.value.type === "unknown"
                    ? "-"
                    : kdbSubject.year.value.value.join(", ")}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>学期 曜時限</div>
                <div class={pageStyles.content}>
                  {kdbSubject.terms.twinsRaw?.module ??
                    `${kdbSubject.terms.module} ${kdbSubject.terms.weekdayAndPeriod}`}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>担当教員</div>
                <div class={pageStyles.content}>
                  {kdbSubject.instructor.value.join(", ")}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>授業概要</div>
                <div class={pageStyles.content}>
                  {kdbSubject.overview ?? ""}
                </div>
              </div>
              <div class={pageStyles.item}>
                <div class={pageStyles.label}>備考</div>
                <div class={pageStyles.content}>{kdbSubject.remarks ?? ""}</div>
              </div>
            </div>
          </div>
        </>
      ))
    }
    {
      similarSubjects.length > 0 && (
        <>
          <div class={pageStyles.tagWrap}>
            <div class={pageStyles.tag}>似た評価の講義</div>
          </div>
          <div class={pageStyles.card}>
            {similarSubjects.map((similarSubjectId) => (
              <ClassListItem subjectId={similarSubjectId} />
            ))}
          </div>
        </>
      )
    }
  </div>
</Layout>
