---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import SideMenu from "../../components/SideMenu.astro";
import { summaryData } from "../../content/summary_merged";
import { kdbData } from "../../content/kdb-schema";
import LabelPercent from "../../components/LabelPercent.astro";
import pageStyles from "./page.module.scss";

type valueof<T> = T[keyof T];

const subjectMap = new Map<
    string,
    {
        type: "専門・専門基礎";
        name: string;
        subject: valueof<(typeof summaryData)["専門・専門基礎"]>;
    } | {
        type: "一般";
        name: string;
        subject_category: string;
        subject: valueof<valueof<(typeof summaryData)["一般"]>>;
    } | {
        type: "体育";
        name: string;
        subject_category: string;
        subject_number: string;
        subject: valueof<valueof<(typeof summaryData)["体育"]>>;
    }
>([
    ...[...Object.entries(summaryData["専門・専門基礎"])].map<
        [
            string,
            {
                type: "専門・専門基礎";
                name: string;
                subject: valueof<(typeof summaryData)["専門・専門基礎"]>;
            },
        ]
    >(([name, subject]) => [
        name,
        {
            type: "専門・専門基礎",
            name,
            subject,
        },
    ]),
    ...[...Object.entries(summaryData["一般"])].flatMap(
        ([subject_category, subjects]) =>
            [...Object.entries(subjects)].map<
                [
                    string,
                    {
                        type: "一般";
                        name: string;
                        subject_category: string;
                        subject: valueof<valueof<(typeof summaryData)["一般"]>>;
                    },
                ]
            >(([subject_name, subject]) => [
                subject_name,
                {
                    type: "一般",
                    name: subject_name,
                    subject_category,
                    subject,
                },
            ]),
    ),
    ...[...Object.entries(summaryData["体育"])].flatMap(
        ([subject_category, subjects]) =>
            [...Object.entries(subjects)].map<
                [
                    string,
                    {
                        type: "体育";
                        name: string;
                        subject_category: string;
                        subject_number: string;
                        subject: valueof<valueof<(typeof summaryData)["体育"]>>;
                    },
                ]
            >(([subject_number, subject]) => [
                subject.name,
                {
                    type: "体育",
                    name: subject.name,
                    subject_category,
                    subject_number,
                    subject,
                },
            ]),
    ),
]);

export function getStaticPaths() {
    return [...subjectMap.keys()].map((subject) => ({
        params: {
            id: `${subject}`,
        },
    }));
}

const { id: subjectName } = Astro.params;

const subject = subjectMap.get(subjectName);
if (subject == undefined) {
    throw new Error("");
}

const kdbs = kdbData.subject.filter((v) => v.name === subjectName);

function syllabiUrl(number: string) {
    return `https://kdb.tsukuba.ac.jp/syllabi/2024/${number}/jpn`;
}

const params =
    subject.type === "一般" ? {
        credit_earnability:
            subject.subject.credit_earnability.sum /
            subject.subject.credit_earnability.count,
        teachers_email_response_evaluation:
            subject.subject.teachers_email_response_evaluation.sum /
            subject.subject.teachers_email_response_evaluation.count,
        class_preparation_workload:
            subject.subject.class_preparation_workload.sum /
            subject.subject.class_preparation_workload.count,
        class_difficulty_level:
            subject.subject.class_difficulty_level.sum /
            subject.subject.class_difficulty_level.count,
        recommendation_level_of_this_class:
            subject.subject.recommendation_level_of_this_class.sum /
            subject.subject.recommendation_level_of_this_class.count,
        are_materials_distributed_in_class: {
            data: subject.subject.are_materials_distributed_in_class,
            n:
                subject.subject.are_materials_distributed_in_class.True +
                subject.subject.are_materials_distributed_in_class.False,
        },
        is_textbook_used_in_class: {
            data: subject.subject.is_textbook_used_in_class,
            n:
                subject.subject.is_textbook_used_in_class.True +
                subject.subject.is_textbook_used_in_class.False,
        },
        prerequisite_knowledge_for_this_class:
            subject.subject.prerequisite_knowledge_for_this_class,
        class_format:
            subject.subject.class_format,
        proportion_of_experienced_students: null,
        consideration_for_inexperienced_students: null,
        exercise_intensity: null,
        male_to_female_ratio: null,
        required_purchases: null,
        rain: null,
        final: null,
        weekly_assignments: null,
        overtime_assignments: null,
        activity: null,
    } : subject.type === "専門・専門基礎" ? {
        credit_earnability: subject.subject.credit_earnability,
        teachers_email_response_evaluation:
            subject.subject.teachers_email_response_evaluation,
        class_preparation_workload:
            subject.subject.class_preparation_workload,
        class_difficulty_level: subject.subject.class_difficulty_level,
        recommendation_level_of_this_class:
            subject.subject.recommendation_level_of_this_class,
        are_materials_distributed_in_class: {
            data: subject.subject.are_materials_distributed_in_class,
            n:
                subject.subject.are_materials_distributed_in_class.True +
                subject.subject.are_materials_distributed_in_class.False,
        },
        is_textbook_used_in_class: {
            data: subject.subject.is_textbook_used_in_class,
            n:
                subject.subject.is_textbook_used_in_class.True +
                subject.subject.is_textbook_used_in_class.False,
        },
        prerequisite_knowledge_for_this_class:
            subject.subject.prerequisite_knowledge_for_this_class,
        class_format:
            subject.subject.class_format,
        proportion_of_experienced_students: null,
        consideration_for_inexperienced_students: null,
        exercise_intensity: null,
        male_to_female_ratio: null,
        required_purchases: null,
        rain: null,
        final: null,
        weekly_assignments: null,
        overtime_assignments: null,
        activity: null,
    } : {
        credit_earnability:
            subject.subject.credit_earnability.sum /
            subject.subject.credit_earnability.count,
        teachers_email_response_evaluation: null,
        class_preparation_workload: null,
        class_difficulty_level: null,
        recommendation_level_of_this_class:
            subject.subject.recommendation_level_of_this_class.sum /
            subject.subject.recommendation_level_of_this_class.count,
        are_materials_distributed_in_class: null,
        is_textbook_used_in_class: null,
        prerequisite_knowledge_for_this_class: null,
        class_format: null,
        proportion_of_experienced_students:
            subject.subject.proportion_of_experienced_students.sum /
            subject.subject.proportion_of_experienced_students.count,
        consideration_for_inexperienced_students:
            subject.subject.consideration_for_inexperienced_students.sum /
            subject.subject.consideration_for_inexperienced_students.count,
        exercise_intensity:
            subject.subject.exercise_intensity.sum /
            subject.subject.exercise_intensity.count,
        male_to_female_ratio:
            subject.subject.male_to_female_ratio.sum /
            subject.subject.male_to_female_ratio.count,
        required_purchases: subject.subject.required_purchases,
        rain: subject.subject.rain,
        final: subject.subject.final,
        weekly_assignments: subject.subject.weekly_assignments,
        overtime_assignments: subject.subject.overtime_assignments,
        activity: subject.subject.activity,
    };
---

<Layout title={subjectName}>
    <Header isMain={false} />
    <main class={pageStyles.main}>
        <div class={pageStyles.body}>
            <h1 class={pageStyles.title}>{subjectName}</h1>

            <div class={pageStyles.tagWrap}>
                <div class={pageStyles.tag}>授業形態</div>
                {
                    kdbs.length > 1 && (
                        <p class={pageStyles.description}>※ 全ての科目の平均値</p>
                    )
                }
            </div>
            <div class={pageStyles.card}>
                <LabelPercent
                    labels={{
                        講義: "講義",
                        グループワーク: "グループワーク",
                        発表: "発表",
                        パネルディスカッション: "パネルディスカッション",
                        対話: "対話",
                        オンデマンド: "オンデマンド",
                        レポート提出のみ: "レポート提出のみ",
                    }}
                    n={subject.class_format.回答人数}
                    data={subject.class_format}
                />
            </div>

            <div class={pageStyles.tagWrap}>
                <div class={pageStyles.tag}>評価</div>
                {
                    kdbs.length > 1 && (
                        <p class={pageStyles.description}>※ 全ての科目の平均値</p>
                    )
                }
            </div>
            <div class={pageStyles.card}>
                <div class={pageStyles.lists}>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>メールの対応</div>
                        <div class={pageStyles.content}>
                            {subject.teachers_email_response_evaluation}
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>授業の難易度</div>
                        <div class={pageStyles.content}>
                            {subject.class_difficulty_level}
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>単位の取りやすさ</div>
                        <div class={pageStyles.content}>{subject.credit_earnability}</div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>授業の準備量</div>
                        <div class={pageStyles.content}>
                            {subject.class_preparation_workload}
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>教科書</div>
                        <div class={pageStyles.content}>
                            <LabelPercent
                                labels={{
                                    True: "使う",
                                    False: "使わない",
                                }}
                                n={subject.is_textbook_used_in_class.True +
                                    subject.is_textbook_used_in_class.False}
                                data={subject.is_textbook_used_in_class}
                            />
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>オススメ度</div>
                        <div class={pageStyles.content}>
                            {subject.recommendation_level_of_this_class}
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>配布資料</div>
                        <div class={pageStyles.content}>
                            <LabelPercent
                                labels={{
                                    True: "あり",
                                    False: "なし",
                                }}
                                n={subject.is_textbook_used_in_class.True +
                                    subject.is_textbook_used_in_class.False}
                                data={subject.are_materials_distributed_in_class}
                            />
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>予備知識</div>
                        <div class={pageStyles.content}>
                            {
                                subject.prerequisite_knowledge_for_this_class.map((comment) => (
                                    <>
                                        {comment}
                                        <br />
                                    </>
                                ))
                            }
                        </div>
                    </div>
                    <div class={pageStyles.item}>
                        <div class={pageStyles.label}>コメント</div>
                        <div class={`${pageStyles.content} ${pageStyles.comments}`}>
                            {
                                subject.comment.map((comment) => (
                                    <>
                                        <div class={pageStyles.comment}>
                                            <p>{comment.comment}</p>
                                            <div class={pageStyles.recommendationLevel}>
                                                {"★".repeat(comment.recommendation_level_of_this_class)}
                                            </div>
                                        </div>
                                    </>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>

            {
                kdbs.map((kdbSubject) => (
                    <>
                        <div class={pageStyles.tagWrap}>
                            <div class={pageStyles.tag}>科目番号 {kdbSubject.number}</div>
                            <a
                                href={syllabiUrl(kdbSubject.number)}
                                target="_blank"
                                rel="noopener noreferrer external"
                            >
                                シラバス (外部)
                                <div class={pageStyles.iconWrap}>
                                    <svg
                                        width="45"
                                        height="45"
                                        viewBox="0 0 45 45"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class={pageStyles.icon}
                                    >
                                        <path
                                            d="M36.5 9C36.5 8.17157 35.8284 7.5 35 7.5H21.5C20.6716 7.5 20 8.17157 20 9C20 9.82843 20.6716 10.5 21.5 10.5H33.5V22.5C33.5 23.3284 34.1716 24 35 24C35.8284 24 36.5 23.3284 36.5 22.5V9ZM10.0607 36.0607L36.0607 10.0607L33.9393 7.93934L7.93934 33.9393L10.0607 36.0607Z"
                                            fill="currentColor"
                                        />
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class={pageStyles.card}>
                            <div class={pageStyles.lists}>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>授業形態</div>
                                    <div class={pageStyles.content}>
                                        {kdbSubject.instructionalType}
                                    </div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>単位</div>
                                    <div class={pageStyles.content}>{kdbSubject.credits}</div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>標準履修年次</div>
                                    <div class={pageStyles.content}>
                                        {kdbSubject.standardRegistrationYear}
                                    </div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>学期</div>
                                    <div class={pageStyles.content}>{kdbSubject.term}</div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>曜時限</div>
                                    <div class={pageStyles.content}>{kdbSubject.period}</div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>教室</div>
                                    <div class={pageStyles.content}>{kdbSubject.room}</div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>担当教員</div>
                                    <div class={pageStyles.content}>{kdbSubject.instructor}</div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>授業概要</div>
                                    <div class={pageStyles.content}>
                                        {kdbSubject.abstract.replace(/\n/g, "<br>")}
                                    </div>
                                </div>
                                <div class={pageStyles.item}>
                                    <div class={pageStyles.label}>備考</div>
                                    <div class={pageStyles.content}>
                                        {kdbSubject.remarks.replace(/\n/g, "<br>")}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </>
                ))
            }
        </div>
        <div class={pageStyles.sidebar}>
            <SideMenu />
        </div>
    </main>
</Layout>
